{{define "/index"}}
{{template "header"}}
{{template "nav"}}
<div class="main-content">
    <div class="breadcrumbs" id="breadcrumbs">
        <script type="text/javascript">
            try {
                ace.settings.check('breadcrumbs', 'fixed')
            } catch (e) {
            }
        </script>
        <ul class="breadcrumb">
            <li>
                <i class="icon-home home-icon"></i>
            </li>
            <li class="active">概览</li>
        </ul>

    </div>
    <div class="page-content">

        <div class="row">
            <div class="col-xs-12">
                <div class="row">
                        <div class="col-xs-12">
                            <div  class="totalsta"><h6 class="totaltitle">今天图片识别总量</h6><span
                                    class="daytotal "id="total"></span><p class="textinfo">与昨天同期增长比为：<span class="Increasepercent"></span></p></div>
                            <div class="totalsta"><h6 class="totaltitle">总需复审的数量</h6><span
                                    class="daytotal "id="reviewtotal" ></span><span class="reviewrate"></span></div>
                            <div  class="totalsta "><h6 class="totaltitle">新注册用户</h6><span
                                    class="daytotal "id="newuser"></span></div>
                            <div class="totalsta "><h6 class="totaltitle">明星用户</h6><span
                                    class="daytotal " id="staruser" ></span></div>
                        </div>
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <div class="widget-box transparent">
                            <div class="widget-body">
                                <div class="widget-main padding-4 ">
                                    <div id="daily" style="height: 500px;width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <h4 class="col-sm-12 blue">分类情况：</h4>
                        <div class="col-xs-12">
                            <div id="n-pie" class="pie"></div>
                            <div id="s-pie" class="pie"></div></a>
                            <div id="p-pie" class="pie"></div></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

</div>
<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>
{{template "script"}}
{{template "chart"}}
<script src="http://cdn.bootcss.com/jquery/3.1.0/jquery.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
<script src="http://cdn.bootcss.com/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<script src="/js/loadingoverlay.min.js"></script>
<script type="text/javascript" src="/js/index.js"></script>
<script type="text/javascript" src="/js/title.js"></script>
</script>
{{template "footer"}}

{{end}}