.htmleaf-container{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}
span.deal {
  display: block;
  margin: 25px;
  float: left;
  font-size: 22px;
}
.htmleaf-container ul {
  font-size: 0;
  position: relative;
  padding: 0;
  width: 435px;
  margin: 20px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float:left;
}
.htmleaf-container li {
  display: inline-block;
  width: 145px;
  height: 40px;
  background: rgba(122, 170, 214, 0.55);
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.htmleaf-container .slider {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background: #00be67;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

/*  Ripple */
.ripple {
  width: 0;
  height: 0;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  position: absolute;
  opacity: 1;
}

.rippleEffect {
  -webkit-animation: rippleDrop .6s linear;
  animation: rippleDrop .6s linear;
}
 @-webkit-keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}
 @keyframes 
rippleDrop {  100% {
 -webkit-transform: scale(2);
 transform: scale(2);
 opacity: 0;
}
}

select#selectPointOfInterest
{
  margin                   : 40px auto;
  width                    : 80pt;
  height                   : 30pt;
  text-indent              : 10pt;
  text-align               : center;
  vertical-align           : middle;
  box-shadow               : inset 0 0 3px #606060;
 /* border                   : 1px solid #acacac;*/
  -moz-border-radius       : 6px;
  -webkit-border-radius    : 6px;
  border-radius            : 6px;
  -webkit-appearance       : none;
  -moz-appearance          : none;
  appearance               : none;
  font-size                : 12pt;
  font-weight              : 500;
  color                    : #1d2024;
  cursor                   : pointer;
  outline                  : none;
}

label#lblSelect{ 
  position: relative; display: inline-block;
}
    
label#lblSelect::after
{
  content                 : "\25bc";
  position                : absolute;
  margin                  :40px auto;
  top                     : 0;
  right                   : 0;
  bottom                  : 0;
  width                   : 20pt;
  line-height             : 40pt;
  vertical-align          : middle;
  ext-align              : center;
  background              : #46b8da;
  color                   : #fefefe;
  -moz-border-radius       : 0 6px 6px 0;
  -webkit-border-radius    : 0 6px 6px 0;
  border-radius           : 0 6px 6px 0;
  pointer-events          : none;
}