{{define "script"}}
<script src='/assets/js/jquery-2.0.3.min.js'></script>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/assets/js/jquery-2.0.3.min.js'>" + "<" + "/script>");
</script>
<script type="text/javascript">
    if ("ontouchend" in document) document.write("<script src='/assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
<script src="/assets/js/jqGrid/i18n/grid.locale-cn.js"></script>
<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script type="text/javascript" language="javascript">
    function clearStorage(loginToken) {
        localStorage.clear();
    }
    var managername;
    managername = window.localStorage.getItem("managername");
    $(".managername").text(managername);

    var loginToken;
    loginToken = window.localStorage.getItem("LoginToken");

    if (loginToken == null) {
        window.location.href = "/login";
    }
    $.ajaxSetup({
        statusCode: {
            401: function() {
                window.location.href = "/login";
            }
        }
    });
</script>
{{end}}